menu "Nix Wrapper"

    choice NIX_WRAPPER_BOARD_SELECTION
        prompt "Board"
        default NIX_WRAPPER_BOARD_M5STACK_CORES3_C
        help
            Select the target development board.

    config NIX_WRAPPER_BOARD_M5STACK_CORES3_C
        bool "M5Stack CoreS3 C Source"

    config NIX_WRAPPER_BOARD_M5STACK_CORES3_CPP
        bool "M5Stack CoreS3 Cpp Source"

    config NIX_WRAPPER_BOARD_M5STACK_TAB5_C
        bool "M5Stack Tab5 C Source"

    config NIX_WRAPPER_BOARD_M5STACK_TAB5_CPP
        bool "M5Stack Tab5 Cpp Source"

    endchoice

endmenu
